.wrapper {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
  }

.wrapper > .dropdown {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid;
}